<div class="rightSide">
  <!-- <div class="loader" *ngIf="isLoading"></div> -->
  <h2>密碼修改</h2>
  <div class="divider"></div>
  <div class="accountWrap">

    <form [formGroup]="form" (ngSubmit)="submit()">
      <div class="accountInfo">
        <span>請輸入新密碼</span>
        <input type="password" formControlName="password" />
      </div>
      <span class="passErr">{{ errMsg.password }}</span>
      <!-- <span class="warningInfo">
      <i class="fas fa-exclamation-circle fa-sm" *ngIf="errMsg.password"></i>
      {{errMsg.password}}
    </span> -->
      <div class="accountInfo">
        <span>新密碼再確認</span>
        <input type="password" formControlName="passwordCheck" />
      </div>
      <!-- <span class="warningInfo">
      <i class="fas fa-exclamation-circle fa-sm" *ngIf="errMsg.passwordCheck"></i>
      {{errMsg.passwordCheck}}
    </span> -->
      <button class="accountBtn" type="submit">確認修改</button>
    </form>


  </div>
</div>