/* ------------------------------GivesShelve/GivesShelveForm-------------------------- */

.updateWrap {
  width: 100%;
  text-align: end;
}

.updateBtn {
  background-color: #4c4c4c;
  border-radius: 4px;
  color: #fff;
  padding: 8px 16px;
  margin: 10px 0px;
  letter-spacing: 1.5px;
  font-size: 14px;
  cursor: pointer;
  white-space: nowrap;
}

.givesshelvesFormWrap {
  display: flex;
  justify-content: space-between;
  margin: 10px 0px;
  align-items: baseline;
  padding: 18px 0px;
  border-bottom: 1px solid #a09d9d;
  align-items: center;
}

.givesshelvesFormWrap textarea {
  width: 60%;
  font-size: 14px;
}

.getngive input {
  width: 60%;
  border: 1px solid #4c4c4c;
  border-radius: 3px;
  height: 30px;
  padding-left: 10px;
  font-size: 18px;
}

.givesshelvesFormWrap input {
  width: 60%;
  border: 1px solid #4c4c4c;
  border-radius: 3px;
  height: 30px;
  padding-left: 10px;
  font-size: 14px;
}

.givesshelvesFormWrap .fileUpload {
  width: 18%;
  border: none;
}

.classSelect {
  border: 1px solid #a09d9d;
}

.upBtn {
  display: flex;
  justify-content: flex-end;
  margin-top: 15px;
  margin-bottom: 15px;
  cursor: pointer;
}

.shelvesBtn {
  background-color: #4c4c4c;
  color: #fff;
  width: 30%;
  border-radius: 4px;
  letter-spacing: 1.2px;
  padding: 5px 8px;
  font-size: 14px;
  cursor: pointer;
}

.givesshelvesBtns {
  display: flex;
  margin-right: 15px;
  white-space: nowrap;
}

.pageWrapGivesshelves {
  display: flex;
  align-self: flex-end;
}

.givesDetailBtn {
  background-color: #4c4c4c;
  border-radius: 4px;
  color: #fff;
  letter-spacing: 1.2px;
  padding: 8px 10px;
  font-size: 14px;
  cursor: pointer;
}

.editBtn {
  background-color: #4c4c4c;
  color: #fff;
  border-radius: 4px;
  letter-spacing: 1.2px;
  padding: 5px 8px;
  margin-left: 8px;
  cursor: pointer;
}

.givesshelvesWrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #a09d9d;
  margin-bottom: 15px;
  padding: 18px 0px;
}

.givesshelvesWrap img {
  max-width: 100px;
  width: 100%;
  height: auto;
}

.givesshelvesWrap .fa-times {
  cursor: pointer;
}

.imgName {
  display: flex;
  width: 80%;
  align-items: center;
}

.givesshelvestName,
.heartName {
  font-size: 18px;
  padding-left: 60px;
}

/* ------------------------------GetOrderDetail/GiveOrderDetail-------------------------- */
.giveWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 0px;
}

.giveWrap img {
  width: 200px;
}

.giveLine {
  border: 1px solid #a09d9d;
  width: 70%;
  max-width: 300px;
}

.giveDetail {
  width: 90%;
  max-width: 640px;
  display: flex;
  flex-direction: column;
  font-size: 18px;
}
.label {
  width: 100px !important;
}
.giveDetail-info {
  width: 85%;
}

.giveDetail-tbody {
  display: block;
}
.giveDetail-tbody tr {
  border-top: 1px solid #999;
  border-left: 1px solid #999;
  display: block;
  margin-bottom: 20px;
}

.giveDetail-tbody td {
  border-right: 1px solid #999;
  border-bottom: 1px solid #999;
  display: flex;
  padding: 10px;
  justify-content: space-between;
}
.checkGiveOrderBtn {
  background-color: #4c4c4c;
  border-radius: 4px;
  color: #fff;
  letter-spacing: 1.2px;
  padding: 8px 12px;
  margin: 15px 0px;
  font-size: 14px;
  cursor: pointer;
}

.getngive {
  display: flex;
  justify-content: space-between;
  margin: 10px 0px;
  width: 100%;
}

.storySpan {
  width: 30%;
  text-align: justify;
}

.getBtns button {
  background-color: #4c4c4c;
  color: #fff;
  margin: 0px 10px;
  white-space: nowrap;
}

.getBtns {
  width: 100%;
  display: flex;
  justify-content: center;
  align-self: center;

  cursor: pointer;
}

.noRequestBtn,
.checkGetOrderBtn {
  background-color: #4c4c4c;
  border-radius: 4px;
  color: #fff;
  letter-spacing: 1.2px;
  padding: 8px 12px;
  cursor: pointer;
}

.giveBtns {
  width: 35%;
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
}

.cancelBtn,
.getBtn,
.doneBtn {
  background-color: #4c4c4c;
  border-radius: 4px;
  color: #fff;
  letter-spacing: 1.2px;
  padding: 5px 8px;
  cursor: pointer;
  margin-left: 2px;
}

/* ------------------------------GivesDetail-------------------------- */

.backgivesBtn {
  background-color: #4c4c4c;
  color: #fff;
  border-radius: 4px;
  letter-spacing: 1.2px;
  padding: 5px 8px;
  margin: 10px 0px;
  font-size: 14px;
  cursor: pointer;
}

/* add by lisa */
/* .label */
