nav a {
  letter-spacing: 3px;
  font-size: 18px;
  color: #513a50;
  text-decoration: none;
}

#logo:hover {
  color: #513a50;
}

nav div a:hover {
  color: #ffca7a;
}

nav {
  max-width: 1200px;
  justify-content: space-between;
}

.navbar-toggler {
  border: none;
  box-shadow: none;
}

#logo {
  vertical-align: middle;
}

.logoutBtn {
  cursor: pointer;
}
