.offcanvas-start {
  width: 250px;
}

.offcanvas-header {
  letter-spacing: 3px;
}

.btn-close {
  box-shadow: none;
}

.logoutBtn {
  color: #513a50;
  cursor: pointer;
}

.logoutBtn:hover,
.logoutBtn:focus {
  color: #ffca7a;
}
