.offcanvas-start {
  width: 250px;
}

.offcanvas-header {
  letter-spacing: 3px;
}

.btn-close {
  box-shadow: none;
}

.funcBtn {
  color: #513a50;
  cursor: pointer;
  padding-left: 14px;
}

.funcBtn:hover,
.funcBtn:focus {
  color: #ffca7a;
}
