<div class="offcanvas offcanvas-start" tabindex="-1" id="myOffcanvas" aria-labelledby="myOffcanvas">
  <div class="offcanvas-header p-4">
    <!-- 標題 -->
    <h5 class="offcanvas-title" id="myOffcanvas">FOODLISA</h5>
    <!-- 右上叉叉 -->
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <app-navigate-parent title="會員中心">
      <app-sidebar-child title="個人帳戶管理" routerLink="['/']">
      </app-sidebar-child>
      <app-sidebar-child title="修改密碼"></app-sidebar-child>
    </app-navigate-parent>
    <app-navigate-parent title="店家資訊">
      <app-sidebar-child title="店家資訊管理"></app-sidebar-child>
    </app-navigate-parent>
    <app-navigate-parent title="訂單管理">
      <app-sidebar-child title="進行中訂單"></app-sidebar-child>
      <app-sidebar-child title="歷史訂單"></app-sidebar-child>
      <app-sidebar-child title="接單統計"></app-sidebar-child>
    </app-navigate-parent>
    <app-navigate-parent title="商品管理">
      <app-sidebar-child title="商品列表" routerLink="/products">
      </app-sidebar-child>
      <app-sidebar-child title="新增商品" routerLink="/products/new">
      </app-sidebar-child>
    </app-navigate-parent>


  </div>