/* ------------------------------GivesShelve/GivesShelveForm-------------------------- */

.updateWrap {
  width: 100%;
  text-align: end;
}

.updateBtn {
  background-color: #4c4c4c;
  border-radius: 4px;
  color: #fff;
  padding: 8px 16px;
  margin: 10px 0px;
  letter-spacing: 1.5px;
  font-size: 14px;
  cursor: pointer;
  white-space: nowrap;
}

.givesshelvesFormWrap {
  display: flex;
  justify-content: space-between;
  margin: 10px 0px;
  align-items: baseline;
  padding: 18px 0px;
  border-bottom: 1px solid #a09d9d;
  align-items: center;
}

.givesshelvesFormWrap textarea {
  width: 60%;
  font-size: 14px;
}

.getngive input {
  width: 60%;
  border: 1px solid #4c4c4c;
  border-radius: 3px;
  height: 30px;
  padding-left: 10px;
  font-size: 18px;
}

.givesshelvesFormWrap input {
  width: 60%;
  border: 1px solid #4c4c4c;
  border-radius: 3px;
  height: 30px;
  padding-left: 10px;
  font-size: 14px;
}

.givesshelvesFormWrap .fileUpload {
  width: 18%;
  border: none;
}

.classSelect {
  border: 1px solid #a09d9d;
}

.upBtn {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 15px;
  cursor: pointer;
}

.shelvesBtn {
  background-color: #4c4c4c;
  color: #fff;
  width: 30%;
  border-radius: 4px;
  letter-spacing: 1.2px;
  padding: 5px 8px;
  font-size: 14px;
  cursor: pointer;
}

.givesshelvesBtns {
  display: flex;
  margin-right: 15px;
  white-space: nowrap;
}

.pageWrapGivesshelves {
  display: flex;
  align-self: flex-end;
}

.givesDetailBtn {
  background-color: #4c4c4c;
  border-radius: 4px;
  color: #fff;
  letter-spacing: 1.2px;
  padding: 8px 10px;
  font-size: 14px;
  cursor: pointer;
}

.editBtn {
  background-color: #4c4c4c;
  color: #fff;
  border-radius: 4px;
  letter-spacing: 1.2px;
  padding: 5px 8px;
  margin-left: 8px;
  cursor: pointer;
}

.givesshelvesWrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #a09d9d;
  margin-bottom: 15px;
  padding: 18px 0px;
}

.givesshelvesWrap img {
  max-width: 100px;
  width: 100%;
  height: auto;
}

.givesshelvesWrap .fa-times {
  cursor: pointer;
}

.imgName {
  display: flex;
  width: 80%;
  align-items: center;
}

.givesshelvestName,
.heartName {
  font-size: 18px;
  padding-left: 60px;
}