<div class="page mx-auto my-4 px-auto px-0 px-sm-4 py-2 py-sm-5 row container-fluid">
  <div class="col-3 d-none d-md-block">
    <nav class="nav flex-column">
      <app-sidebar-parent title="會員中心">
        <app-sidebar-child title="個人帳戶管理" disabled>
        </app-sidebar-child>
        <app-sidebar-child title="修改密碼" disabled></app-sidebar-child>
      </app-sidebar-parent>
      <app-sidebar-parent title="店家資訊">
        <app-sidebar-child title="店家資訊管理" disabled></app-sidebar-child>
      </app-sidebar-parent>
      <app-sidebar-parent title="訂單管理">
        <app-sidebar-child title="進行中訂單" disabled></app-sidebar-child>
        <app-sidebar-child title="歷史訂單" disabled></app-sidebar-child>
        <app-sidebar-child title="接單統計" disabled></app-sidebar-child>
      </app-sidebar-parent>
      <app-sidebar-parent title="商品管理">
        <app-sidebar-child title="商品列表" routerLink="/products">
        </app-sidebar-child>
        <app-sidebar-child title="新增商品" routerLink="/products/new">
        </app-sidebar-child>
      </app-sidebar-parent>
      <a class="nav-link logoutBtn my-2 ps-0" (click)="logout()" tabindex="-1">會員登出</a>
    </nav>
  </div>
  <div class="col">
    <router-outlet></router-outlet>
  </div>
</div>