<div class="row">
  <div class="col-3">
    <nav class="nav flex-column">
      <app-sidebar-parent AAA="會員中心">
        <!-- <app-sidebar-child title="個人帳戶管理"></app-sidebar-child>
    <app-sidebar-child title="修改密碼"></app-sidebar-child> -->
      </app-sidebar-parent>

      <a class="nav-link" [routerLink]="['/']">會員中心</a>
      <a class="nav-link" [routerLink]="['products', '1', 'edit']">訂單管理</a>
      <a class="nav-link" [routerLink]="['products']">商品管理</a>
      <a class="nav-link disabled" [routerLink]="['/']" tabindex="-1">會員登出</a>
    </nav>
  </div>
  <div class="col-9">
    <router-outlet></router-outlet>
  </div>
</div>


<!-- 手機板 -->
<div class="offcanvas offcanvas-start" tabindex="-1" id="myOffcanvas" aria-labelledby="myOffcanvas">
</div>