<div class="page mx-auto my-4 px-auto px-0 px-sm-4 py-2 py-sm-5 row container-fluid">
  <div class="col-3 d-none d-md-block">
    <nav class="nav flex-column">
      <app-sidebar-parent title="會員中心">
        <app-sidebar-child title="個人帳戶管理" routerLink="['/']">
        </app-sidebar-child>
        <app-sidebar-child title="修改密碼"></app-sidebar-child>
      </app-sidebar-parent>
      <app-sidebar-parent title="店家資訊">
        <app-sidebar-child title="店家資訊管理"></app-sidebar-child>
      </app-sidebar-parent>
      <app-sidebar-parent title="訂單管理">
        <app-sidebar-child title="進行中訂單"></app-sidebar-child>
        <app-sidebar-child title="歷史訂單"></app-sidebar-child>
        <app-sidebar-child title="接單統計"></app-sidebar-child>
      </app-sidebar-parent>
      <app-sidebar-parent title="商品管理">
        <app-sidebar-child title="商品列表" routerLink="/products">
        </app-sidebar-child>
        <app-sidebar-child title="新增商品" routerLink="/products/new">
        </app-sidebar-child>
      </app-sidebar-parent>
      <a class="nav-link disabled" routerLink="/" tabindex="-1">會員登出</a>
    </nav>
  </div>
  <div class="col">
    <router-outlet></router-outlet>
  </div>
</div>



<div class="offcanvas offcanvas-start" tabindex="-1" id="myOffcanvas" aria-labelledby="myOffcanvas">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="myOffcanvas">Offcanvas</h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <div>
      Some text as placeholder. In real life you can have the elements you have chosen. Like, text, images, lists, etc.
    </div>
    <div class="dropdown mt-3">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown">
      Dropdown button
    </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <li><a class="dropdown-item" href="#">Action</a></li>
        <li><a class="dropdown-item" href="#">Another action</a></li>
        <li><a class="dropdown-item" href="#">Something else here</a></li>
      </ul>
    </div>
  </div>
</div>