.dropdown .dropbtn {
  color: #513a50;
  opacity: 1;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-menu {
  margin-left: 100px;
  display: block;
}

/* Change the background color of the dropdown button when the dropdown menu is shown */
.dropdown:hover .dropbtn {
  color: #ffca7a;
}
