@import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC&display=swap');
@import '~bootstrap/dist/css/bootstrap.min.css';

* {
  /* outline: 1px dotted red; */
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* ------------------------------giveList-------------------------- */
html,
body {
  font-family: 'Noto Sans TC';
  color: #513a50;
}

.logWrap {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 20px;
}

.accountLink {
  display: flex;
  widows: 50%;
}

.accountLink span {
  letter-spacing: 1.2px;
}

.accountLink a {
  text-decoration: none;
  color: #ffca7a;
}

.accountLink {
  display: flex;
  width: 10%;
  justify-content: space-between;
  margin: 25px 0px;
  letter-spacing: 2.5px;
  font-size: 16px;
}

.accountLink h4 {
  color: #513a50;
  font-size: 14px;
  margin: 0;
}

.accountLink span {
  color: #513a50;
}

.logWrap h2 {
  font-size: 50px;
  margin-bottom: 20px;
  letter-spacing: 3px;
}

.accountLine {
  border-left: none;
  border-right: none;
  border-top: none;
  border: 2px solid #513a50;
  background: #513a50;
  width: 60px;
}

.logWrap h3 {
  font-size: 30px;
  margin-top: 50px;
  letter-spacing: 3px;
}

.divider {
  border: 2px solid #4c4c4c;
  border-top: none;
  border-left: none;
  border-right: none;
  margin: 20px 0px;
}

/* add by lisa */

.warningInfo {
  color: #ee0000;
  margin-top: 4px;
  font-size: 12px;
}

.swal2-styled.swal2-confirm {
  background-color: #513a50;
}

li,
ul {
  list-style-type: none;
}

/* button.swal2-styled.swal2-cancel {
  background-color: #dc3545;
} */

/* .swal2-modal {
  background-color: rgba(0, 0, 0, 0.651);
  color: white;
}
.swal2-text {
  color: white;
  font-size: 33px;
}
.swal2-close {
  background-color: black;
  color: red;
} */
